@charset "UTF-8";

@media (min-width:1000px) {
    .sns {
        border-left: solid 1px #f2e8d0;
    }
    
    .line {
  border-right: solid 1px #f2e8d0;
}
}

@media (max-width:1100px) {
    .top-wrapper p {
    opacity: 0.7;
    font-size: 28px;
    margin-left: 30px;
}

.top-wrapper span {
    font-size: 60px;
}

.textbox {
    position: absolute;
    right: 8%;
    top: 10%;
    writing-mode: vertical-rl;
    text-align: justify;
    padding: 0;
}

.icon-caption h2 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    
}


.guid {
    font-size: 30px;
    margin: 0;
}

 .menu-icon img{
        width: 490px;
        height: 490px;
    }
    
    .txt {
    color: #ca2938;
    width: 100%;
    /*display: inline-block;*/
    margin-top: 20px;
    font-size: 10px;
    padding-bottom: 15px;
    /*display: none;*/
    border-left: 1px dotted #ca2938;
    border-right: 1px dotted #ca2938;
    border-bottom: 1px dotted #ca2938;
}

    
    .menu-icon {
    position: relative;
}

.menu-icon p {
    position: absolute;
    top: 320px;
    left: 65px;
    width: 100%;
    color: #f2e8d0;
    font-size: 25px;
}

.food img {
    width: 300px;
    height: 300px;
}

.food {
   position: relative; 
}

.food p {
    position: absolute;
    top: 209px;
    left: 5px;
    width: 100%;
    color: #f2e8d0;
    font-size: 17px;
}
    
    .sns {
        width: 50%;
        margin-bottom: 50px;
    }
    
    
    .tr {
        font-size: 10px;
    }
    
    .menu {
        width: 50%;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2,h3 {
        font-size: 20px;
    }
}
    


@media (max-width:900px) {
    

.top-wrapper p {
    opacity: 0.7;
    font-size: 20px;
    margin-left: 25px;
}

.top-wrapper span {
    font-size: 60px;
}

.vertical {
    margin-right: 0;
   margin-left: 30px;
}

.textbox {
    position: absolute;
    right: 5%;
    top: 20%;
    writing-mode: vertical-rl;
    text-align: justify;
    padding: 0;
}

.icon-caption h2 {
    text-align: center;
    font-size: 30px;
    padding: 0;
    
}


.content {
    margin: 0;
    text-align: left;
}

.guid {
    font-size: 30px;
    margin: 0;
}

 .menu-icon img{
        width: 350px;
        height: 350px;
    }
    
    .txt {
    color: #ca2938;
    width: 100%;
    /*display: inline-block;*/
    margin-top: 20px;
    font-size: 10px;
    padding-bottom: 15px;
    /*display: none;*/
    border-left: 1px dotted white;
    border-right: 1px dotted white;
    border-bottom: 1px dotted white;
}

    
    .menu-icon {
    position: relative;
}

.menu-icon p {
    position: absolute;
    top: 320px;
    left: 65px;
    width: 100%;
    color: #f2e8d0;
    font-size: 25px;
}

.food img {
    width: 240px;
    height: 240px;
}

.food {
   position: relative; 
}

.food p {
    position: absolute;
    top: 209px;
    left: 5px;
    width: 100%;
    color: #f2e8d0;
    font-size: 17px;
}

.menu-icon1 img {
    width: 650px;
    height: 650px;
}

.menu-icon1 {
   position: relative; 
}

.menu-icon1 p {
    font-family: 'Noto Serif JP', serif;
    position: absolute;
    top: 580px;
    left: 20px;
    width: 100%;
    color: #f3e0b4;
    font-size: 40px;
    text-shadow: 1px 2px 3px #ca2937;
}
    
    .sns {
        width: 50%;
        margin-bottom: 50px;
    }
    
    
    .tr {
        font-size: 10px;
    }
    
    .menu {
        width: 50%;
    }
    
    h1 {
        font-size: 32px;
    }
    
    h2,h3 {
        font-size: 20px;
    }
    
     
    
    .contents .news {
    height: 300px;
    background-color: #fff;
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 40px;
    padding: 0;
    width: 700px;
}
}


@media (max-width: 650px) {
    
    .top-wrapper {
    height: 300px;
    background-image: url(../img/kona.jpg);
    background-color: #000000;
    background-size: cover;
    color: white;
    text-align: center;
}

    
    .top-wrapper h1 {
    opacity: 0.6;
    font-size: 20px;
    letter-spacing: 5px;
}

.top-wrapper p {
    opacity: 0.7;
    font-size: 10px;
    margin-left: 15px;
}

.top-wrapper span {
    font-size: 30px;
}

.vertical {
    margin-right: 0;
   margin-left: 15px;
}

.textbox {
    position: absolute;
    right: 5%;
    top: 15%;
    writing-mode: vertical-rl;
    text-align: justify;
    padding: 0;
}



.icon-caption h2 {
    text-align: center;
    padding-right: 0;
    font-size: 18px;
    margin-bottom: 20px;
}

.caution {
    padding: 30px 0;
    margin: 20px 0;
}



.td2 {
    padding: 0;
  text-align: center;
  width: 100px;
}

.guid {
    height: 30px;
    font-size: 20px;
    margin: 0;
}

    .menu-icon img{
        width: 375px;
        height: 375px;
    }
    
    .menu-icon {
    position: relative;
}



.txt {
    color: #ca2938;
    width: 100%;
    /*display: inline-block;*/
    margin-top: 20px;
    font-size: 10px;
    padding-bottom: 15px;
    /*display: none;*/
    border-left: 1px dotted #ca2938;
    border-right: 1px dotted #ca2938;
    border-bottom: 1px dotted #ca2938;
}

.menu-icon p {
    position: absolute;
    top: 310px;
    left: 20px;
    width: 100%;
    color: #f2e8d0;
    font-size: 30px;
}

.food img {
    width: 375px;
    height: 375px;
}

.food {
   position: relative; 
}

.food p {
    position: absolute;
    top: 310px;
    left: 0px;
    width: 100%;
    color: #f2e8d0;
    font-size: 30px;
}

.fan-wrapper {
    height: 250px;
}

.guid2 {
    font-size: 18px;
}

.guid3 {
    font-size: 15px;
    margin-bottom: 20px;
}

.menu-icon1 img {
    width: 350px;
    height: 350px;
}

.menu-icon1 {
   position: relative; 
}

.menu-icon1 p {
    font-family: 'Noto Serif JP', serif;
    position: absolute;
    top: 300px;
    left: 20px;
    width: 100%;
    color: #f3e0b4;
    font-size: 30px;
    text-shadow: 1px 2px 3px #ca2937;
}

.part2 {
    padding: 30px 0;
}


.guid4 {
    font-family: 'Noto Serif JP', serif;
    margin-bottom: 20px;
}

    .sns {
        width: 100%;
    }
    
    .menu {
        width: 100%;
        margin-bottom: 20px;
    }
    
    .btn {
        width: 100%;
    }
    
    footer {
        text-align: center;
    }
    
    h1 {
        font-size: 24px;
    }
    
    p {
        font-size: 14px;
    }
    
    .contents h2 span {
    font-size: 30px;
}
    
    .contents .news {
    height: 380px;
    background-color: #fff;
    box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 auto 40px;
    padding: 0;
    width: 375px;
}
    
}

@media (max-width: 650px){
    
.content {
    padding-top: 20px;
     margin: 0; 
}  

.btn {
    padding: 0;
}

.ttl_area {
    margin-left: 100px;
}

dt {
    margin-right: 0;
}

.news {
    margin: 40px 0;
    padding: 30px 0;
}
}